{% extends "app/base.html" %}
{% block title %}
    Game {{ game_display_number }}
    {% if outcome %}'s outcome was {{ outcome }}{% endif %}
{% endblock title %}
{% block content %}
    <div id="top">
        {% if not outcome %}
            {% if whose_turn == "white" %}
                {% if game_display_number %}
                    <form id="move"
                          method="post"
                          name="move"
                          action="{% url 'move' game_display_number=game_display_number %}">
                        {% csrf_token %}
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        <div id="board-plus-eventlog">
            <div class="board">
                {% for s in squares %}{{ s }}{% endfor %}
            </div>
            <div id="event-log">
                <h3>
                    <a href="https://en.wikipedia.org/wiki/Algebraic_notation_(chess)">Moves</a>
                </h3>
                {% for line in event_log %}<div>{{ line }}</div>{% endfor %}
            </div>
        </div>
        <div id="status-whatnots">
            {% include "app/new-game-form.html" %}
            {% if not outcome %}
                {% if whose_turn == "white" %}
                    <div>It's {{ whose_turn }}'s turn</div>
                {% else %}
                    {% if game_display_number %}
                        <form method="post"
                              action="{% url 'auto-move' game_display_number=game_display_number %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" name="action" value="auto-move">Play a Move for {{ whose_turn }}</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
