<html>
    <body>
        <form method="post" action="/game/">
            {% csrf_token %}
            <button class="btn btn-primary"
                    type="submit"
                    name="action"
                    value="Make a new game, yo">
                NEW GAME
            </button>
        </form>

        <div class="board">
            {% for piece in pieces %}
            <div>
                {% if piece %}
                {{ piece }}
                {% else %}
                &nbsp;
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </body>
    <style>
     .board {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     }
     .board > div {
         border: 1px solid black;
         aspect-ratio: 1;
     }
    </style>
</html>
